<a href="https://colab.research.google.com/github/DhanyaShreeKP/DSC-assignments/blob/master/Pandas_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas assignment
- Different tasks will be detailed by comments or text.
- It should be noted there may be more than one different way to answer a question or complete an exercise.
- For further reference and resources, it's advised to check out the pandas documnetation.

In [ ]:
# Import pandas 
import pandas as pd

In [ ]:
# Create a series of fruits(string) of length 5 and view it
import numpy as np
import pandas as pd
fruits=np.array(["mango","apple","watermelon","papaya","guava"])
# Create a series of prices(int) of length 5 and view it
prices=np.array([65,120,50,70,60])
prices=pd.Series(prices)
prices

0     65
1    120
2     50
3     70
4     60
dtype: int64

In [ ]:
# Create a fruit_prices dataframe out of the 2 series you just made and view it
data = {'Fruits':fruits,'Price':prices}
fruit_prices = pd.DataFrame(data)
fruit_prices

       Fruits  Price
0       mango     65
1       apple    120
2  watermelon     50
3      papaya     70
4       guava     60

In [ ]:
# Find the mean, sum, standard deviation, variance of the prices
print("mean")
print(fruit_prices.mean())
print("sum")
print(fruit_prices.median())
print("mode")
print(fruit_prices.mode())

mean
Price    73.0
dtype: float64
sum
Price    65.0
dtype: float64
mode
       Fruits  Price
0       apple     50
1       guava     60
2       mango     65
3      papaya     70
4  watermelon    120

### CSV - Cereal data
- Download the csv file given to you and place it in the same directory as your notebook if you are using Jupyter notebooks.
- If you are using Google colab mount the google drive to your colab notebook. Upload your csv file into any folder in your drive. Then do a right click on csv file and copy the file path and paste this path while importing this csv with Pandas

In [ ]:
# import the csv file given to you and turn it into a DataFrame
from google.colab import files
uploaded = files.upload()

Saving cereal.csv to cereal (1).csv

In [ ]:
import io
cer=pd.read_csv(io.BytesIO(uploaded['cereal.csv']))
# Find the different datatypes of the DataFrame
cer.dtypes

name         object
mfr          object
type         object
calories      int64
protein       int64
fat           int64
sodium        int64
fiber       float64
carbo       float64
sugars        int64
potass        int64
vitamins      int64
shelf         int64
weight      float64
cups        float64
rating      float64
dtype: object

In [ ]:
# Describe your current DataFrame using describe()
df=pd.DataFrame(cer)
df.describe()

         calories    protein        fat  ...     weight       cups     rating
count   77.000000  77.000000  77.000000  ...  77.000000  77.000000  77.000000
mean   106.883117   2.545455   1.012987  ...   1.029610   0.821039  42.665705
std     19.484119   1.094790   1.006473  ...   0.150477   0.232716  14.047289
min     50.000000   1.000000   0.000000  ...   0.500000   0.250000  18.042851
25%    100.000000   2.000000   0.000000  ...   1.000000   0.670000  33.174094
50%    110.000000   3.000000   1.000000  ...   1.000000   0.750000  40.400208
75%    110.000000   3.000000   2.000000  ...   1.000000   1.000000  50.828392
max    160.000000   6.000000   5.000000  ...   1.500000   1.500000  93.704912

[8 rows x 13 columns]

In [ ]:
# Get information about your DataFrame using info()
df=pd.DataFrame(cer)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      77 non-null     object
 1   mfr       77 non-null     object
 2   type      77 non-null     object
 3   calories  77 non-null     int64
 4   protein   77 non-null     int64
 5   fat       77 non-null     int64
 6   sodium    77 non-null     int64
 7   fiber     77 non-null     float64
 8   carbo     77 non-null     float64
 9   sugars    77 non-null     int64
 10  potass    77 non-null     int64
 11  vitamins  77 non-null     int64
 12  shelf     77 non-null     int64
 13  weight    77 non-null     float64
 14  cups      77 non-null     float64
 15  rating    77 non-null     float64
dtypes: float64(5), int64(8), object(3)
memory usage: 9.8+ KB

In [ ]:
# Find the length of the DataFrame
df.size

1232

In [ ]:
# Find the unique values in shelf column
df.shelf.unique()

array([3, 1, 2])

In [ ]:
# Show the first 7 rows of the DataFrame
df.iloc[:7]

                        name mfr type  calories  ...  shelf  weight  cups     rating
0                  100% Bran   N    C        70  ...      3     1.0  0.33  68.402973
1          100% Natural Bran   Q    C       120  ...      3     1.0  1.00  33.983679
2                   All-Bran   K    C        70  ...      3     1.0  0.33  59.425505
3  All-Bran with Extra Fiber   K    C        50  ...      3     1.0  0.50  93.704912
4             Almond Delight   R    C       110  ...      3     1.0  0.75  34.384843
5    Apple Cinnamon Cheerios   G    C       110  ...      1     1.0  0.75  29.509541
6                Apple Jacks   K    C       110  ...      2     1.0  1.00  33.174094

[7 rows x 16 columns]

In [ ]:
# Show the last 7 rows of the DataFrame
df.tail(7)

                   name mfr type  calories  ...  shelf  weight  cups     rating
70    Total Raisin Bran   G    C       140  ...      3     1.5  1.00  28.592785
71    Total Whole Grain   G    C       100  ...      3     1.0  1.00  46.658844
72              Triples   G    C       110  ...      3     1.0  0.75  39.106174
73                 Trix   G    C       110  ...      2     1.0  1.00  27.753301
74           Wheat Chex   R    C       100  ...      1     1.0  0.67  49.787445
75             Wheaties   G    C       100  ...      1     1.0  1.00  51.592193
76  Wheaties Honey Gold   G    C       110  ...      1     1.0  0.75  36.187559

[7 rows x 16 columns]

In [ ]:
# Use .loc to find the sodium value of the 4th item
df.loc[4:4:,["sodium"]]

   sodium
4     200

In [ ]:
# Use .iloc to find the value of the 7th row and 7th column
print(df.iloc[[7]])
print()
print(df.iloc[:,[7]])

      name mfr type  calories  ...  shelf  weight  cups     rating
7  Basic 4   G    C       130  ...      3    1.33  0.75  37.038562

[1 rows x 16 columns]

    fiber
0    10.0
1     2.0
2     9.0
3    14.0
4     1.0
..    ...
72    0.0
73    0.0
74    3.0
75    3.0
76    1.0

[77 rows x 1 columns]

In [ ]:
# Select the "name" column from the DataFrame
df["name"]

0                     100% Bran
1             100% Natural Bran
2                      All-Bran
3     All-Bran with Extra Fiber
4                Almond Delight
                ...
72                      Triples
73                         Trix
74                   Wheat Chex
75                     Wheaties
76          Wheaties Honey Gold
Name: name, Length: 77, dtype: object

In [ ]:
# Select the rows which have more than 100 calories
df[df["calories"]>100].dropna()

                                      name mfr type  ...  weight  cups     rating
1                        100% Natural Bran   Q    C  ...    1.00  1.00  33.983679
4                           Almond Delight   R    C  ...    1.00  0.75  34.384843
5                  Apple Cinnamon Cheerios   G    C  ...    1.00  0.75  29.509541
6                              Apple Jacks   K    C  ...    1.00  1.00  33.174094
7                                  Basic 4   G    C  ...    1.33  0.75  37.038562
10                            Cap'n'Crunch   Q    C  ...    1.00  0.75  18.042851
11                                Cheerios   G    C  ...    1.00  1.25  50.764999
12                   Cinnamon Toast Crunch   G    C  ...    1.00  0.75  19.823573
13                                Clusters   G    C  ...    1.00  0.50  40.400208
14                             Cocoa Puffs   G    C  ...    1.00  1.00  22.736446
15                               Corn Chex   R    C  ...    1.00  1.00  41.445019
17                               Corn Pops   K    C  ...    1.00  1.00  35.782791
18                           Count Chocula   G    C  ...    1.00  1.00  22.396513
19                      Cracklin' Oat Bran   K    C  ...    1.00  0.50  40.448772
21                                 Crispix   K    C  ...    1.00  1.00  46.895644
24                             Froot Loops   K    C  ...    1.00  1.00  32.207582
25                          Frosted Flakes   K    C  ...    1.00  0.75  31.435973
27  Fruit & Fibre Dates; Walnuts; and Oats   P    C  ...    1.25  0.67  40.917047
28                           Fruitful Bran   K    C  ...    1.33  0.67  41.015492
29                          Fruity Pebbles   P    C  ...    1.00  0.75  28.025765
31                          Golden Grahams   G    C  ...    1.00  0.75  23.804043
33                              Grape-Nuts   P    C  ...    1.00  0.25  53.371007
34                      Great Grains Pecan   P    C  ...    1.00  0.33  45.811716
35                        Honey Graham Ohs   Q    C  ...    1.00  1.00  21.871292
36                      Honey Nut Cheerios   G    C  ...    1.00  0.75  31.072217
37                              Honey-comb   P    C  ...    1.00  1.33  28.742414
38             Just Right Crunchy  Nuggets   K    C  ...    1.00  1.00  36.523683
39                  Just Right Fruit & Nut   K    C  ...    1.30  0.75  36.471512
40                                     Kix   G    C  ...    1.00  1.50  39.241114
42                            Lucky Charms   G    C  ...    1.00  1.00  26.734515
44        Muesli Raisins; Dates; & Almonds   R    C  ...    1.00  1.00  37.136863
45       Muesli Raisins; Peaches; & Pecans   R    C  ...    1.00  1.00  34.139765
46                    Mueslix Crispy Blend   K    C  ...    1.50  0.67  30.313351
48                        Nut&Honey Crunch   K    C  ...    1.00  0.67  29.924285
49               Nutri-Grain Almond-Raisin   K    C  ...    1.33  0.67  40.692320
51                    Oatmeal Raisin Crisp   G    C  ...    1.25  0.50  30.450843
52                   Post Nat. Raisin Bran   P    C  ...    1.33  0.67  37.840594
58                             Raisin Bran   K    C  ...    1.33  0.75  39.259197
61                               Rice Chex   R    C  ...    1.00  1.13  41.998933
62                           Rice Krispies   K    C  ...    1.00  1.00  40.560159
66                                  Smacks   K    C  ...    1.00  0.75  31.230054
67                               Special K   K    C  ...    1.00  1.00  53.131324
69                       Total Corn Flakes   G    C  ...    1.00  1.00  38.839746
70                       Total Raisin Bran   G    C  ...    1.50  1.00  28.592785
72                                 Triples   G    C  ...    1.00  0.75  39.106174
73                                    Trix   G    C  ...    1.00  1.00  27.753301
76                     Wheaties Honey Gold   G    C  ...    1.00  0.75  36.187559

[47 rows x 16 columns]

In [ ]:
# Create a crosstab of the name and vitamins columns
pd.crosstab(index=df['name'],columns=df['vitamins'])

vitamins                   0    25   100
name
100% Bran                    0    1    0
100% Natural Bran            1    0    0
All-Bran                     0    1    0
All-Bran with Extra Fiber    0    1    0
Almond Delight               0    1    0
...                        ...  ...  ...
Triples                      0    1    0
Trix                         0    1    0
Wheat Chex                   0    1    0
Wheaties                     0    1    0
Wheaties Honey Gold          0    1    0

[77 rows x 3 columns]

In [ ]:
# Group columns of the DataFrame by the manufacturer(mfr column) and find the average
df.groupby(["mfr","type"]).mean()

            calories   protein       fat  ...    weight      cups     rating
mfr type                                  ...
A   H     100.000000  4.000000  1.000000  ...  1.000000  1.000000  54.850917
G   C     111.363636  2.318182  1.363636  ...  1.049091  0.875000  34.485852
K   C     108.695652  2.652174  0.608696  ...  1.077826  0.796087  44.038462
N   C      84.000000  2.800000  0.200000  ...  0.966000  0.734000  68.655517
    H     100.000000  3.000000  0.000000  ...  1.000000  1.000000  64.533816
P   C     108.888889  2.444444  0.888889  ...  1.064444  0.714444  41.705744
Q   C      94.285714  2.285714  1.714286  ...  0.857143  0.845714  41.785647
    H     100.000000  5.000000  2.000000  ...  1.000000  0.670000  50.828392
R   C     115.000000  2.500000  1.250000  ...  1.000000  0.871250  41.542997

[9 rows x 13 columns]

In [ ]:
# Get rid of the decimal digits in ratings. #For example: 68.402973 -> 68
df['rating'].astype(int)

0     68
1     33
2     59
3     93
4     34
      ..
72    39
73    27
74    49
75    51
76    36
Name: rating, Length: 77, dtype: int64

In [ ]:
# Check for missing values in the dataframe
df.isnull()

     name    mfr   type  calories  ...  shelf  weight   cups  rating
0   False  False  False     False  ...  False   False  False   False
1   False  False  False     False  ...  False   False  False   False
2   False  False  False     False  ...  False   False  False   False
3   False  False  False     False  ...  False   False  False   False
4   False  False  False     False  ...  False   False  False   False
..    ...    ...    ...       ...  ...    ...     ...    ...     ...
72  False  False  False     False  ...  False   False  False   False
73  False  False  False     False  ...  False   False  False   False
74  False  False  False     False  ...  False   False  False   False
75  False  False  False     False  ...  False   False  False   False
76  False  False  False     False  ...  False   False  False   False

[77 rows x 16 columns]

In [ ]:
# Create a "Safe for consumption" column with boolean value True
df['Safe for comsumption']=True
df

                         name mfr type  ...  cups     rating  Safe for comsumption
0                   100% Bran   N    C  ...  0.33  68.402973                  True
1           100% Natural Bran   Q    C  ...  1.00  33.983679                  True
2                    All-Bran   K    C  ...  0.33  59.425505                  True
3   All-Bran with Extra Fiber   K    C  ...  0.50  93.704912                  True
4              Almond Delight   R    C  ...  0.75  34.384843                  True
..                        ...  ..  ...  ...   ...        ...                   ...
72                    Triples   G    C  ...  0.75  39.106174                  True
73                       Trix   G    C  ...  1.00  27.753301                  True
74                 Wheat Chex   R    C  ...  0.67  49.787445                  True
75                   Wheaties   G    C  ...  1.00  51.592193                  True
76        Wheaties Honey Gold   G    C  ...  0.75  36.187559                  True

[77 rows x 17 columns]

In [ ]:
# Remove the sugars column
df.drop(['sugars'],axis=1)

                         name mfr type  ...  cups     rating  Safe for comsumption
0                   100% Bran   N    C  ...  0.33  68.402973                  True
1           100% Natural Bran   Q    C  ...  1.00  33.983679                  True
2                    All-Bran   K    C  ...  0.33  59.425505                  True
3   All-Bran with Extra Fiber   K    C  ...  0.50  93.704912                  True
4              Almond Delight   R    C  ...  0.75  34.384843                  True
..                        ...  ..  ...  ...   ...        ...                   ...
72                    Triples   G    C  ...  0.75  39.106174                  True
73                       Trix   G    C  ...  1.00  27.753301                  True
74                 Wheat Chex   R    C  ...  0.67  49.787445                  True
75                   Wheaties   G    C  ...  1.00  51.592193                  True
76        Wheaties Honey Gold   G    C  ...  0.75  36.187559                  True

[77 rows x 16 columns]

In [ ]:
# Shuffle the DataFrame using sample() with the frac parameter set to 1
df.sample(frac=1)

                         name mfr type  ...  cups     rating  Safe for comsumption
68    Strawberry Fruit Wheats   N    C  ...  1.00  59.363993                  True
14                Cocoa Puffs   G    C  ...  1.00  22.736446                  True
40                        Kix   G    C  ...  1.50  39.241114                  True
48           Nut&Honey Crunch   K    C  ...  0.67  29.924285                  True
61                  Rice Chex   R    C  ...  1.13  41.998933                  True
..                        ...  ..  ...  ...   ...        ...                   ...
7                     Basic 4   G    C  ...  0.75  37.038562                  True
74                 Wheat Chex   R    C  ...  0.67  49.787445                  True
34         Great Grains Pecan   P    C  ...  0.33  45.811716                  True
31             Golden Grahams   G    C  ...  0.75  23.804043                  True
65  Shredded Wheat spoon size   N    C  ...  0.67  72.801787                  True

[77 rows x 17 columns]

In [ ]:
# Save the the shuffled DataFrame to a new variable
new=df.sample(frac=1)
new

                                      name mfr  ...     rating  Safe for comsumption
27  Fruit & Fibre Dates; Walnuts; and Oats   P  ...  40.917047                  True
13                                Clusters   G  ...  40.400208                  True
47                    Multi-Grain Cheerios   G  ...  40.105965                  True
72                                 Triples   G  ...  39.106174                  True
59                         Raisin Nut Bran   G  ...  39.703400                  True
..                                     ...  ..  ...        ...                   ...
21                                 Crispix   K  ...  46.895644                  True
35                        Honey Graham Ohs   Q  ...  21.871292                  True
57                          Quaker Oatmeal   Q  ...  50.828392                  True
20                  Cream of Wheat (Quick)   N  ...  64.533816                  True
62                           Rice Krispies   K  ...  40.560159                  True

[77 rows x 17 columns]